{% extends 'inventory/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row">
    <div class="col-11 col-md-4 mx-auto mt-5">
        <h1>{{ title }}</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="form-group">
              <!--  <label for="id_images">Upload Images</label>
                {{ form.images }}-->
                <small id="fileSelectedMessage" class="form-text text-muted" style="display: none;">Images selected for upload</small>
            </div>
            <div class="mt-3">
                <button id="submitButton" class="btn btn-primary">{{ submit_button_text }}</button>
                <button type="button" class="btn btn-secondary" id="uploadButton">Upload Images</button>
                <a href="{% url 'dashboard' %}" class="btn btn-outline-primary my-3 mx-4">Go Back</a>
            </div>
        </form>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        $('[data-bs-toggle="tooltip"]').tooltip();

        // Initialize datepicker with restriction on future dates
        $('.datepicker').datepicker({
            format: 'yyyy-mm-dd',
            autoclose: true,
            todayHighlight: true,
            endDate: new Date()
        });

        document.getElementById('uploadButton').addEventListener('click', function() {
            document.getElementById('id_images').click();
        });

        document.getElementById('id_images').addEventListener('change', function() {
            if (this.files.length > 0) {
                document.getElementById('fileSelectedMessage').style.display = 'block';
                document.getElementById('uploadButton').innerText = 'Images Selected';
            } else {
                document.getElementById('fileSelectedMessage').style.display = 'none';
                document.getElementById('uploadButton').innerText = 'Upload Images';
            }
        });
    });
</script>
{% endblock content %}
