{% extends 'inventory/base.html' %}
{% block content %}
    <div class="row">
        <div class="col-md-8 col-12 mx-auto mt-5">
            <h1>Item Details</h1>
            <table class="table table-bordered">
                <!-- Display item details -->
                <!-- ... Your existing item details ... -->

            </table>

            <!-- Display uploaded images -->
            <h2>Uploaded Images</h2>
            <div class="row">
                {% for image in item.images.all %}
                    <div class="col-md-4 mb-4">
                        <img src="{{ image.image.url }}" class="img-fluid" alt="Item Image">
                    </div>
                {% endfor %}
            </div>

            <!-- Form for uploading more images -->
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Upload Images</button>
            </form>

            <a href="{% url 'edit-item' item.id %}" class="btn btn-outline-secondary">Edit</a>
            <a href="{% url 'delete-item' item.id %}" class="btn btn-secondary">Delete</a>
            <a href="{% url 'items-list' %}" class="btn btn-primary">Back to List</a>
        </div>
    </div>
{% endblock %}