{% extends 'inventory/base.html' %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generate Report</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Generate Report</h1>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
        </form>
    </div>
</body>
</html>
{% endblock content %}
